@import '../vars.scss';

.details-page-container {
  background-color: black;
  height: 100vh;
  display: flex;
  padding-top: 6rem;
  gap: 4rem;
  .image-details-container {
  }
  .data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgb(11, 9, 9);
    width: 55rem;
    height: 40rem;
    padding-top: 3rem;
    .main-data-group {
      display: flex;
      flex-direction: column;
      width: 40rem;

      gap: 3rem;
      .data-group {
        display: flex;
        justify-content: space-between;
        padding: 0rem 0rem 0rem 3rem;
        .p-container {
          span {
            margin-inline-start: 0.6rem;
          }
        }
      }
      .data-group2 {
        display: flex;
        justify-content: space-between;
        padding: 0rem 0rem 0rem 3rem;
        .p-container {
          span {
            margin-inline-start: 0.6rem;
          }
        }
      }
    }
  }
}

.data-player-name {
  display: flex;
}

.custom-details-writting {
  font-size: 1.7rem;
  font-style: normal;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.data-small-container {
  border-radius: 0.4rem;
  background-color: rgb(69, 178, 0);
}
/*  */
