@import '../vars.scss';

.details-page-container {
  background-color: black;
  height: 100vh;
  display: flex;
  padding-top: 6rem;
  padding-left: 4rem;
  gap: 4rem;

  main-image-container {
    .image-details-container {
      padding-left: 4rem;
    }
  }
  .player-nation-flag {
    padding-top: 3rem;
    padding-left: 3rem;
  }

  .player-team-shield {
    padding-top: 3rem;
    padding-right: 3rem;
  }

  .images-bottom {
    display: flex;
    justify-content: space-between;
  }
  .data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgb(11, 9, 9);
    width: 55rem;
    height: 50rem;
    padding-top: 3rem;

    .data-player-name {
      font-style: normal;
    }

    .main-data-group {
      display: flex;
      flex-direction: column;
      width: 40rem;

      gap: 3rem;
      .data-group {
        display: flex;
        justify-content: space-between;
        padding: 0rem 0rem 0rem 3rem;
        .p-container {
          span {
            margin-inline-start: 0.6rem;
          }
        }
      }
      .data-group2 {
        display: flex;
        justify-content: space-between;
        padding: 0rem 0rem 0rem 3rem;
        .p-container {
          span {
            margin-inline-start: 0.6rem;
          }
        }
      }
    }
  }
}

.brief-story-container {
  .brief-story-title {
    font-family: $mainFont;
    font-size: 2rem;
    font-style: normal;
    color: white;
  }

  padding: 1rem 2rem 1rem 2rem;
  .p-brief-story {
    font-size: 1.5rem;
    font-style: normal;
  }
}

.data-player-name {
  display: flex;
}

.custom-details-writting {
  font-size: 1.7rem;
  font-style: normal;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.data-small-container {
  border-radius: 0.3rem;
  background-color: rgb(69, 178, 0);
}

.image-details-container-mobile {
  display: none;
}

.player-nation-flag-mobile {
  display: none;
}

.player-team-shield-mobile {
  display: none;
}

.button-back-details {
  font-size: 1.2rem;
  font-style: normal;
  border-radius: 1rem;
  width: 6rem;
  padding: 0.3rem;
  color: #fff;
  background-color: rgba(24, 156, 78, 1);
  text-align: center;
  margin-top: 2rem;
  margin-inline-end: 149rem;
}

@media screen and (max-width: 460px) {
  .details-page-container {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-left: 2.8rem;
    gap: 4rem;
    height: 124vh;

    .data-container {
      padding-top: 0rem;
      padding-right: 1rem;
      margin-left: 1rem;
      height: 40rem;
      width: 18.5rem;

      .data-player-name {
        .p-data-player-name {
          font-size: 1.3rem;
        }
      }

      .main-data-group {
        width: 18rem;

        gap: 1.5rem;

        .data-group {
          padding-left: 1.6rem;
        }
        .data-group2 {
          padding-left: 1.6rem;
        }
      }

      .custom-details-writting {
        font-size: 1.2rem;
        font-style: normal;
        margin-top: 0rem;
        margin-bottom: 0rem;
      }

      .brief-story-title {
        font-size: 1.2rem;
      }
    }

    .brief-story-container {
      padding: 1rem 1rem 1rem 1rem;
      .p-brief-story {
        font-size: 1.1rem;
      }
    }

    .image-details-container {
      display: none;
    }

    .image-details-container-mobile {
      display: contents;
      margin-right: 4rem;
    }

    .player-nation-flag {
      display: none;
    }

    .player-team-shield {
      display: none;
    }
  }

  .button-back-details {
    margin-top: 0rem;

    margin-inline-end: 0rem;
  }
}
