@import '../vars.scss';

.lower-message {
  font-size: 2rem;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.main-top-home-page-container {
  display: flex;
  background-color: black;
  justify-content: space-between;
}

.welcome-message-container {
  margin-top: 5rem;
  margin-right: 2rem;
  margin-left: 22rem;
}

.main-botton-home-page-container {
  display: flex;
  background-color: rgba(11, 9, 9, 1);
}

.top-image-container {
  margin: 4rem 0rem 1rem 0rem;
}
.image-formation-container {
  background-color: rgba(23, 21, 21, 1);
  width: 55%;
  display: flex;
  justify-content: center;
}

.card-footballer-container {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10rem;
}

.football-field {
  padding-block: 5rem;
}
.card-footballer-container-mobile {
  display: none;
}

@media (max-width: 460px) {
  .card-footballer-container {
    display: none;
  }

  .top-image-container {
    display: none;
  }

  .main-top-home-page-container {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;

    .main-message {
      font-size: 1.9rem;
      margin-left: 0rem;
    }
    .welcome-message-container {
      margin-top: 2rem;
      margin-left: 0rem;
      margin-right: 0rem;
      width: 20rem;
      height: 16rem;

      .lower-message {
        font-size: 1.5rem;
        margin: 1.5rem 0.5rem 1.5rem 0.5rem;
      }
    }
  }

  .image-formation-container {
    display: none;
  }

  .card-footballer-container-mobile {
    display: contents;

    padding-bottom: 4rem;
  }
  .main-botton-home-page-container {
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}
