@import '../vars.scss';

p {
  font-family: $titleFount;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 200;
  color: #fff;
}

.lower-message {
  font-size: 2rem;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.main-top-home-page-container {
  display: flex;
  background-color: black;
  justify-content: space-between;
}

.welcome-message-container {
  margin-top: 5rem;
  margin-right: 2rem;
  margin-left: 22rem;
}

.main-botton-home-page-container {
  display: flex;
  background-color: rgba(11, 9, 9, 1);
}

.top-image-container {
  margin: 4rem 0rem 1rem 0rem;
}
.image-formation-container {
  background-color: rgba(23, 21, 21, 1);
  width: 55%;
  display: flex;
  justify-content: center;
}

.card-footballer-container {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10rem;
}

.football-field {
  padding-block: 5rem;
}
