@import '../vars.scss';

.main-login-container {
  background-color: black;
  width: 20rem;
  padding: 0rem 34rem 10rem 34rem;
  border-radius: 0.8rem;
  margin-left: 30rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  margin-block-start: 2rem;
}
/* .title-login-container {
  display: flex;
  justify-content: center;
} */
.image-login {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.title-login-page {
  font-size: 4rem;
  font-family: $mainFont;
  color: #fff;
}

.login-section {
  background-color: $headerBackGroundOne;
}

.login-form {
  .inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
