@import '../vars.scss';

$gold: #e9cc74;
$black-gradient-to-bottom: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.9) 90%
);
$black-gradient-to-top: linear-gradient(
  to top,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.9) 90%
);

.my-swal-popup {
  background-color: #333;
  color: rgb(255, 255, 255);
  font-family: $titleFount;
}

.fa-solid fa-pencil {
  width: 5rem;
  height: 5rem;
  color: white;
}

.fut-player-card {
  transition: transform 0.1s ease;
  font-family: $titleFount;
  font-style: italic;
  margin-top: 4rem;
  position: relative;
  width: 21rem;
  height: 30.313rem;
  background-image: url(https://res.cloudinary.com/dnlkezvzv/image/upload/v1702311761/proyecto%20final/ygnixhrdpxqrqnz9djsb.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 3.8rem 0;
  z-index: 2;
  transition: 200ms ease-in;

  &:hover {
    transform: scale(
      1.1
    ); /* Cambia el valor para ajustar el nivel de agrandamiento */
  }
  .player-card-top {
    position: relative;
    display: flex;
    color: $gold;
    padding: 0 1.5rem;
    margin: 0rem 1rem 0rem 1.4rem;
    .player-master-info {
      position: absolute;
      line-height: 2.2rem;
      font-weight: 300;
      padding: 1.5rem 0;
      text-transform: uppercase;
      .player-rating {
        font-size: 2rem;
      }
      .player-position {
        font-size: 1.4rem;
      }

      .player-overall {
        font-size: 1.4rem;
      }
    }

    .player-picture {
      width: 12.5rem;
      height: 12.5rem;
      margin: 0 auto;
      overflow: hidden;
    }
    img {
      object-fit: contain;
      position: relative;
      right: -1.5rem;
      bottom: 0;
    }
    .player-extra {
      position: absolute;
      right: 0;
      bottom: -0.5rem;
      overflow: hidden;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      width: 100%;
      height: 2rem;
      padding: 0 1.5rem;
      text-align: right;
      background: none;
      span {
        margin-left: 0.6rem;
        text-shadow: 2px 2px #333;
      }
    }
  }
}
.player-card-bottom {
  position: relative;
  .player-info {
    display: block;
    padding: 0.3rem 0;
    color: $gold;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
    .player-name {
      width: 100%;
      display: block;
      text-align: center;
      font-size: 1.6rem;
      text-transform: uppercase;
      border-bottom: 2px solid rgba($gold, 0.1);
      padding-bottom: 0.3rem;
      overflow: hidden;
      span {
        display: block;
        text-shadow: 2px 2px #111;
      }
    }
    .player-features {
      margin: 0.5rem auto;
      display: flex;
      justify-content: center;
      .player-features-col {
        border-right: 2px solid rgba($gold, 0.1);
        padding: 0 2.3rem;
        span {
          display: flex;
          font-size: 1.2rem;
          text-transform: uppercase;
          .player-feature-value {
            margin-right: 0.3rem;
            font-weight: 700;
          }
          .player-feature-title {
            font-weight: 300;
          }
        }
      }
      .player-features-col:last-child {
        border: 0;
      }
    }
  }
}

.button-edit {
  background: rgba(45, 42, 42, 1);
  width: 1.5rem;
  border-radius: 0.7rem;
  color: black;
  height: 1.6rem;
  margin: 0rem 0rem 0rem 0rem;
  position: relative;
  bottom: 6rem;
  left: 13.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
}

.button-details {
  background: rgba(45, 42, 42, 1);
  width: 1.5rem;
  border-radius: 0.7rem;
  color: black;
  height: 1.6rem;
  margin: 0rem 0rem 0rem 0rem;
  position: relative;
  bottom: 4.5rem;
  left: 13.5rem;
  gap: 1rem;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-delete {
  background: rgba(45, 42, 42, 1);
  width: 1.5rem;
  border-radius: 0.7rem;
  color: black;
  height: 1.6rem;
  margin: 0rem 0rem 0rem 0rem;
  position: relative;
  bottom: 3.1rem;
  left: 13.5rem;
  gap: 1rem;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-picture-mobile {
  display: none;
}

@media (max-width: 460px) {
  .fut-player-card {
    margin-top: 0rem;
  }
}
