@import '../vars.scss';

.header-grey {
  background-color: $headerBackGroundOne;
}

.header-black {
  background-color: black;
}

header {
  font-family: $titleFount;
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
  color: #fff;
  background-color: $headerBackGroundOne;
}

.header-main-container {
  display: flex;
  margin-inline: 3.5rem;

  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.icons-container {
  font-size: 2rem;
  display: flex;
  justify-content: flex-end; /* Alinea los elementos a la derecha */
  gap: 4rem; /* Espaciado entre elementos */
}

.header-container {
  text-align: left; /* Alinea el texto a la izquierda */
}

.image-user-logged {
  margin: 2.6rem 0rem 0rem 0rem;
}

.logged-user-name {
  margin: 0rem 0rem 0rem 0rem;
  font-size: 1.2rem;
}
